body {
    background-color: black;
}

main {
    width: 960px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;
    background-color: lightgrey;
    padding: 50px;
}

h1 {
    font-family: 'Bangers', cursive;
}

h2,p {
    font-family: arial;
}

h3 {
    font-family: 'Bangers', cursive;
}