body {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#toparea {
    text-align: center;
}

#logo {
    width: 100px;
    display: inline-block;
}

#toparea h1 {
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
}

/* Navigation Bar CSS */

nav {
    width: 100%;
    text-align: center;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #000000;
}

/* Image sizes */

#homepageimg {
    float: left;
    margin-right: 10px;
}

/* Footer */

footer {
    clear: both;
    overflow: hidden;
}

footer>p {
    text-align: center;
    border-top: 2px solid #000000;
    padding-top: 10px;
}

/* Flex */
#flex-container {
    display:flex;
}

.joke {
    padding: 10px;
}

/* Form */
form p{
    display: inline-block;
    min-width: 250px;
}